Faker==10.0.0
imutils==0.5.4
matplotlib==3.5.1
numpy==1.22.0
opencv_python==4.5.5.62
scikit_learn==1.0.2
setuptools==52.0.0
texttable==1.6.4
requests~=2.23.0
pyyaml~=5.3.1
responses~=0.10.15
pytest~=5.4.3
pytest-cov~=2.10.0
pytest-mock~=3.1.1
pytest-httpserver~=0.3.4
black~=19.10b
flake8~=3.8.3
flake8-black~=0.2.0
isort~=5.1.4
coverage~=5.1
validators~=0.15.0
pyspark[sql]~=3.0.0
pycryptodome~=3.9.8
pyarrow==6.0.1
numpy
pandas
